<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create user</title>
</head>
<body>

<form method="post" th:action="@{/admin/user-create}" th:object="${user}">
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="Name">
    <br>
    <label for="email">Email</label>
    <input type="text" th:field="*{email}" id="email" placeholder="Email">
    <br>
    <label for="password">Email</label>
    <input type="text" th:field="*{password}" id="password" placeholder="Password">
    <br>
    <label>
        <select size="3" multiple="multiple" name="roles" id="roles">
            <option disabled>Roles:</option>
            <option selected value="1">ADMIN</option>
            <option value="2">USER</option>
        </select>
    </label>
    <br>
    <input type="submit" value="Create User">
</form>
</body>
</html>

